.hide {
  display:none;
}




.render{
  display: flex;
  flex-direction: row;
  margin: 1em 1em;
  padding: .38em;
  gap: 1em;
  border: 1px, solid, #AFE3C0;
  background-color:#F76F8E ;
  border-radius: 5%;
  font-size: .8em;
  text-align: center;
  align-items: center;
  
}

body{
  margin: 0;
  padding: 0;
  background-color: #AFE3C0;
  align-items: center;
  font-family: "DynaPuff", system-ui;;
}

h1{
  margin: 0;
}

.clay{
  max-width: 300px;
  margin-top: 1.5em;


}

.clayContainer{

  width: 300px;
      height: 300px;
      margin: 0px auto;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }


    

input{
  display: block;
  margin:0 auto;
  margin-bottom: 2em;
  border: none;
  border-radius: 2%;
  font-family: "DynaPuff", system-ui;

}

.btnWrapper{
  display:flex;
  justify-content: center;
  margin: 1em auto;
  gap: 1em;
  
}
#btn:active{
  background-color: #F76F8E;
}
#btn:hover{
  background-color: #F76F8E;
}


a, button {
  display: inline-block;
  padding: 10px 19px;
  border-radius: 4px;
  background-color:#597fc5;
  font-size: 1em;
  cursor: pointer;
  color: #EEE5E9;
  border: none;
font-weight: bold;
  text-decoration: none;
  font-family: "DynaPuff", system-ui;
}

.image{
  max-width: 180px;
  border-radius: 5%;
}


p {
  font-weight: bold;
  color:#0D160B;
}

button:active, a:active {
  transform: scale(0.95); 
  background-color: #AFE3C0;  
  color: #0D160B;
}

button:hover, a:hover {
  background-color:#AFE3C0;
  color: #0D160B;
}