.hide {
  display:none;
}

.render{
  display: flex;
  flex-direction: row;
  margin: 1em 1em;
  padding: .35em;
  gap: 1em;
  border: 1px, solid, #AFE3C0;
  background-color:#F76F8E ;
  border-radius: 5%;
  font-size: .85em;
  text-align: center;
  
}

body{
  background-color: #AFE3C0;
  align-items: center;
}

.clay{
  max-width: 300px;


}

.clayContainer{
  text-align: center;

}

input{
  display: block;
  margin:0 auto;
  margin-bottom: 1em;
  border: none;
  border-radius: 2%;

}

.btnWrapper{
  display:flex;
  justify-content: center;
  margin: 1em auto;
  gap: 1em;
  
}
#btn:active{
  background-color: #F76F8E;
}
#btn:hover{
  background-color: #F76F8E;
}
.image{
  max-width: 180px;
  border-radius: 5%;
}

a, button {
  display: inline-block;
  padding: 10px 19px;
  border-radius: 4px;
  background-color:#597fc5;
  font-size: 1em;
  cursor: pointer;
  color: #EEE5E9;
  border: none;
font-weight: bold;
  text-decoration: none;
}


p {
  font-weight: bold;
  color:#0D160B;
}

button:active, a:active {
  transform: scale(0.95); 
  background-color: #AFE3C0;  
  color: #0D160B;
}

button:hover, a:hover {
  background-color:#AFE3C0;
  color: #0D160B;
}